<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
 body{
   text-align: center;
 }

.profile{
  margin: 0 auto;
  border-radius: 50%;
}

.title {
  font-size: 34px;
  letter-spacing: 3px;
  font-weight: 900px;
  line-height: 1.6;
}

.content{
  white-space: pre;
}
  </style>
</head>
<body>
  <!-- div.profile>img -->
  <div class="profile">
    <img src="../images/logo_resize.png" >
  </div>
  <!-- h3.title -->
<h3 class="title"> Hongyoul Yun</h3>
  <!-- p.content -->
<p class="content">Full Stack <p><p>Developer</p>
  <!-- div.box -->
<div class="box"></div>
</body>
</html>